*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 185px;
    box-sizing: inherit;
}

:root {
    --h1-font: 5rem;
    --h2-font: 4rem;
    --p-font: 1.1rem;
}

section {
    padding: 70px 12% 80px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
}

.home-text h1 {
    margin: 18px 0;
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
}

.home-text p {
    color: black;
    font-size: var(--p-font);
    mask-border: 40px;
    margin-bottom: 40px;
    padding-right: 200px;
}

.home-img img {
    width: 500px;
    height: auto;
    padding-bottom: 80px;
}

.homecta-btn {
    display: inline-block;
    padding: 10px 25px;
    background: #04023c;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 12px;
    transition: all .6s ease;
    cursor: pointer;
}

.homecta-btn:hover {
    background: #fbd875;
    color: #04023c;
    transform: scale(1.1);
}

.showcase-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 1.7rem;
    text-align: center;
}

.showcase {
    padding: 90px 12% 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.showcase-box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.showcase-btn {
    display: inline-block;
    font-size: var(--p-font);
    color: #04023c;
    border-bottom: 1px solid #04023c;
    font-weight: 500;
}

.showcase-box {
    transition: all .5s ease;
}

.showcase-box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.latest-news {
    padding-top:30px;
    padding-bottom: 30px;
    background-color: rgb(235, 235, 235);
    align-items: center;
}

.center-news {
    text-align: center;
}

.center-news h2 {
    font-size: var(--h2-font);
    margin: 10px 0;
}

.center-news a {
    align-items: center;
}

.center-img {
    align-items: center;
    width: 100px;
    height: auto;
}

.news-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 25px;
    background: #04023c;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 12px;
    transition: all .6s ease;
    cursor: pointer;
}
.news-btn:hover {
    background: #fbd875;
    color: #04023c;
    transform: scale(1.1);
}

.review {
    display: flex;
    background: #04023c;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    padding: 0 35px;
}

.review-content {
    max-width: 1100px;
    width: 100%;
    position: relative;
}


.review-content .review-carousel {
    display: grid;
    margin-left: 80px;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.review-carousel::-webkit-scrollbar {
    display: none;
}

.review-carousel .review-card {
    scroll-snap-align: start;
    height: 342px;
    width: 260px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.review-carousel.dragging .review-card {
    cursor: grab;
    user-select: none;
}

.review-carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.review-card i {
    color: #fbd875;
}

.review-card .review-img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.review-card h3 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.review-card span {
    color: #04023c;
    font-size: 1rem;
    margin: 30px 0 5px;
    padding-left: 5px;
}

.cta-info {
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #fff;
    align-items: center;
    z-index: 1;
}

.center-info {
    text-align: center;
}

.center-info h2 {
    font-size: var(--h2-font);
    margin: 10px 0;
}

.center-info a {
    align-items: center;
}

.info-img {
    align-items: center;
    width: 100px;
    height: auto;
}

.info-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 25px;
    background: #04023c;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 12px;
    transition: all .6s ease;
    cursor: pointer;
}
.info-btn:hover {
    background: #fbd875;
    color: #04023c;
    transform: scale(1.1);
}

.footer {
    margin-top: auto;
}


@media screen and (max-width: 1750px) {
    section {
        padding: 60px 7% 60px;    
    }

    .showcase {
        padding: 60px 7% 20px; 
    }
}


@media screen and (max-width: 1400px) {
    section {
        padding: 60px 5% 60px;    
    }

    .showcase {
        padding: 60px 5% 20px; 
    }
    :root {
        --h1-font: 4.2rem;
        --h2-font: 3.2rem;
        --p-font: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .home {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        height: auto;
    }

    .home-text {
        padding: 60px;
        margin-bottom: 40px;
    }

    .home-text p {
        color: black;
        font-size: var(--p-font);
        mask-border: 40px;
        margin-bottom: 40px;
        padding-right: 0px;
    }

    .review-content .review-carousel {
        margin-left: 55px;
    }
}

@media screen and (max-width: 1000px) {
    .review-content .review-carousel {
        margin-left: 32px;
    }
}

@media screen and (max-width: 900px) {

    .review-content .review-carousel {
        margin-left: 9px;
    }
}

@media screen and (max-width: 850px) {
    .review-content .review-carousel {
        grid-auto-columns: calc((100% / 2) - 12px);
        margin-left: 80px;
    }
}

@media screen and (max-width: 750px) {
    .home {
        gap: 0px;
    }

    :root {
        --h1-font: 3rem;
        --h2-font: 2rem;
    }

    .showcase {
        display: flex;
        flex-direction: row;
    }

    .review-content .review-carousel {
        grid-auto-columns: calc((100% / 2) - 12px);
        margin-left: 50px;
    }
}

@media screen and (max-width: 600px) {
    .review-content .review-carousel {
        grid-auto-columns: 100%;
        margin-left: 120px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --h1-font: 2.4rem;
        --h2-font: 1.8rem;
    }

    .review-content .review-carousel {
        grid-auto-columns: 100%;
        margin-left: 75px;
    }
}

@media screen and (max-width: 400px) {
    .review-content .review-carousel {
        grid-auto-columns: 100%;
        margin-left: 30px;
    }
}



/* Navbar Styles */
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
/* logo size */
nav ul li a img {
    height: 20px; 
    width: auto;
    display: block;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
    z-index: 1001;
}
@media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
}